<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QL_FASTFOOD"
			 connectionString="Data Source=LAPTOP-BFSV4HUB\BXTOANSQL;Initial Catalog=QL_FASTFOOD;User ID=sa;Password=Toan260906!;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>