<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QL_FASTFOOD"
			 connectionString="Data Source=10.2.0.2\SQLEXPRESS;Initial Catalog=QL_FASTFOOD;User ID=fastfood_user;Password=fastfood;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>